<h1>Add Restaurant</h1>

<%= form_for @restaurant, url: {action: 'create'} do |f| %>

  <p>
    <b><%= f.label :name %></b>
    <%= f.text_field :name %>
  </p>
  <p>
    <b><%= f.label :street %></b>
    <%= f.text_field :street %>
  </p>
  <p>
    <b><%= f.label :city %></b>
    <%= f.text_field :city %>
  </p>
  <p>
    <b><%= f.label :state %></b>
    <%= f.text_field :state %>
  </p>
  <p>
    <b><%= f.label :country %></b>
    <%= f.text_field :country %>
  </p>
  <p>
    <b><%= f.label :postal_code %></b>
    <%= f.text_field :postal_code %>
  </p>
  <p>
  <%= f.submit %>
  </p>

<% end %>

<h4 style="bottom: 0px; position: fixed;">  <%= link_to 'Return to NorthEastern Restaurants List', restaurants_path %></h4>


