<% if @restaurant %>

  <h1><%= @restaurant.name %></h1>

  <p><b>Street: </b> <i><%= @restaurant.street %></i></p>
  <p><b>City: </b> <i><%= @restaurant.city %></i></p>
  <p><b>State: </b> <i><%= @restaurant.state %></i></p>
  <p><b>Country: </b> <i><%= @restaurant.country %></i></p>
  <p><b>Postal Code: </b> <i><%= @restaurant.postal_code %></i></p>

<% else %>

  <h1> Restaurant not found </h1>

<% end %>

<%= link_to 'edit', edit_restaurant_path(@restaurant) %> 
<br>
<%= link_to 'delete', restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"} %> 

<h4 style="bottom: 0px; position: fixed;">  <%= link_to 'Return to NorthEastern Restaurants List', restaurants_path %></h4>